@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Roboto", sans-serif;
    color: white;
}

h5 {
    font-size: 2.5vw;
    font-weight: 500;
}

p {
    text-align: justify;
    font-size: 1.5vw;
}

button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.t-orange {
    color: #FF6200;
    padding-right: 0.6vw;
}

header {
    position: sticky;
    top: 0;
    width: auto;
    height: 0;
    display: flex;
    justify-content: space-between;
    padding: 4.5vw 5vw;

    & img {
        width: 6vw;
        height: 2.8vw;
    }

    & .icons-header {
        display: flex;
        align-items: center;
        flex-direction: column;

        & .icons-header-menu {
            width: 3em;
            min-width: 10px;
        }

        & .icons-header-balls {
            display: flex;
            flex-direction: column;
            padding-top: 32vh;
            width: 18px;

            & svg {
                padding: 0.2em;
            }
        }

        & #dark-mode {
            padding-top: 38vh;
            display: flex;
            align-items: center;
            justify-content: left;
        }

        & .checkbox {
            opacity: 0;
            position: absolute;
        }

        & .label {
            background-color: #111;
            border-radius: 50px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 5px;
            position: relative;
            height: 26px;
            width: 50px;
        }

        & .label .ball {
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;

            height: 22px;
            width: 22px;

            transform: translateX(0px);
            transition: transform .2s linear;
        }

        & .checkbox:checked+.label .ball {
            transform: translateX(24px);
        }

        & .fa-moon {
            color: #f1c40f;
        }

        & .fa-sun {
            color: #f39c12;
        }
    }
}

#fade,
#modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    opacity: 0;

    & .modal-exit {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & #close-modal {
            margin: 4.5vw 5vw;
        }
    }

    & .modal-mail {
        margin-top: 10vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & div {
            display: flex;

            & h2 {
                color: #000000;
                padding-right: 1em;
                padding-left: 0.1em;
                padding-bottom: 0.3em;
            }
        }
    }
}

#icons-modal {
    padding: .4em;
    background-color: #3ABD28;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#modal.hide,
#fade.hide {
    opacity: 1;
    z-index: 5;
    pointer-events: none;
}

#modal.hide {
    z-index: 6;
}

body {
    background-image: url(img/background\ img\ black.jpg);
    background-size: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
}

.main {
    width: auto;

    & .inicio {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .inicio-txt {

            & h3 {
                font-size: 2.5vw;
                font-weight: 500;
            }

            & h1 {
                margin-top: 0.5em;
                margin-bottom: 0.3em;
                font-size: 4vw;
                color: #3ABD28;
            }

            & h2 {
                font-size: 3vw;
                font-weight: 900;
            }
        }

        & .inicio-img img {
            width: 30vw;
        }
    }

    & .aboutme {
        padding-top: 10vw;
        padding-bottom: 10vw;
        display: flex;
        justify-content: center;

        & .aboutme-txt {
            background-color: #1E1E1E;
            width: 50%;
            height: auto;
            border-radius: 2.5em 2.5em 2.5em 2.5em;

            & .aboutme-txt-tittle {
                display: flex;
                padding: 4vh 3vw 1vh;
            }

            & .aboutme-txt-t {
                padding: 0em 3vw 4vh;
            }
        }
    }


    & .a-tittle {
        display: flex;
    }


    & #page2 {
        height: 60vh;
        background-color: #1E1E1E;

        & .skills {
            padding: 10vw;
        }
    }

    .skills-all {
        display: flex;
        padding: 2rem;
        justify-content: center;

        & .skills-icons svg {
            width: 5em;
            height: 5em;

            margin: 6vh;
        }
    }



    .projects {
        height: 75vh;

        & .a-tittle {
            padding-top: 10vw;
            padding-left: 10vw;
        }
    }

    .contact {
        height: 80vh;
        background-color: #1E1E1E;

        & .a-tittle {
            padding-top: 10vw;
            padding-left: 10vw;
        }

        & .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 400px;

            & h1 {
                border: solid 1px #630460;
                border-radius: 5px 0 5px 0;
                padding-left: 14%;             
            }

            & label {
                color: #fff;
            }

            & input[type="text"],
            textarea {
                padding: 10px;
                border: 1px solid #fff;
                background-color: #222;
                color: #fff;
                border-radius: 5px;
                margin-bottom: 10px;
                border: none;
                border-bottom: solid 1px #630460;
            }

            & button {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 8vw;
                margin-left: 30%;
            }

            & button:hover {
                opacity: 0.8;
            }
        }
    }

    & #center {
        display: flex;
        justify-content: center;
    }
}

footer {
    background-color: black;
    height: 15vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & p{
        font-size: small;
    }
}

body.dark {
    background-color: white;
    background-image: url(img/background\ img\ white.jpg);

    & h2,
    h3 {
        color: black;
    }

    footer {
        background-color: white;
        
        & p{
            color: black;
        }
    }
}

.img-prjt {
    margin-top: 5px;
    width: 240PX;
    height: auto;
    border-radius: 5%;
}

.container {
    padding-top: 7vh;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel div {
    transform-style: preserve-3d;

}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
    transition: transform 1s;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
}

.a .item {
    background: #ed1c24;
}

.b {
    transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
}

.b .item {
    background: #0072bc;
}

.c {
    transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
}

.c .item {
    background: #39b54a;
}

.d {
    transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
}

.d .item {
    background: #f26522;
}

.e {
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
}

.e .item {
    background: #630460;
}

.f {
    transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
}

.f .item {
    background: #8c6239;
}

#btn-carrossel {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;

    padding-left: 10vw;
    padding-right: 10vw;
}

.next,
.prev {
    color: #444;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}

.next:hover,
.prev:hover {
    color: #000;
}

.next:active,
.prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}